


.div-font-car-description{
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}

.div-table{
    display:table;
    width:auto;
}
.div-table-row{
    display:table-row;
    width:auto;
    height: 40px;
    clear:both;
}
.div-table-col-left{
    float:left;/*fix for  buggy browsers*/
    display:table-column;
    width:500px;
}

.div-table-col-right{
    float:right;/*fix for  buggy browsers*/
    display:table-column;
    width:auto;
}
.advancedSearch{
    color: red;
}

#image img{
    width:110px;
    height: 60px;
}
#main_image img{
    width:300px;
    height: 200px;
}